/target

# gtfs files (but keep folder)
/src/lib/GTFS/*
!/src/lib/GTFS/.gitkeep

# program outputs (but keep the folder)
/output/*
!/output/.gitkeep

# program cache (but keep the folder)
/cache/*
!/cache/.gitkeep
